@import "../../variables.scss";

.root {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/LoginBackground.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 50px 35px;
}

.heading {
  color: $color-dark-blue;
  text-align: center;
}

.loginForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginItem {
  height: 55px;
  margin-bottom: 20px;
}

.inputLabelContainer {
  position: relative;
  background-color: none;
}

.loginLabel {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  color: $color-grey;
  padding: 0 5px;
  font-size: 18px;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

input:focus ~ .loginLabel,
input:not(:placeholder-shown) ~ .loginLabel,
.loginLabel:focus-within {
  top: -0.6rem;
  left: 0.5rem;
  font-size: 16px;
  background-color: rgb(251, 190, 150);
  border-radius: 5px;
  padding: 0 5px;
  color: $color-dark-blue;
  font-weight: 700;
}

.showError {
  color: rgb(216, 42, 42);
  margin-bottom: 20px;
  font-size: 12px;
  animation: reveal 2s;
}
