@import "./variables.scss";

#root {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  color: $color-white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: $font-size-xl;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.07);
  border: 3px solid rgba(54, 50, 50, 0.1);
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: $color-dark-blue;
}
