$color-blue: #085078;
$color-dark-blue: #06354e;
$color-teal: #85d8ce;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #737373;

$font-size-s: 8px;
$font-size-m: 12px;
$font-size-l: 20px;
$font-size-xl: 35px;

$size-s: 5px;
$size-m: 10px;
$size-l: 15px;

$button-font-weight: 400;
